@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Bloqueado";
}

<hgroup>
    <h1 class="text-danger">@ViewBag.Title</h1>
    <h2 class="text-danger">Esta conta foi bloqueada. Por favor, tente novamente em outro momento.</h2>
</hgroup>
